@{
    SetMeta(httpEquiv: "X-UA-Compatible", content: "IE=edge,chrome=1");

    Style.Include("/Themes/DevOffice/Bootstrap/css/bootstrap.min.css");
    Style.Include("/Themes/DevOffice/Bootstrap/css/bootstrap-theme.min.css");
    Style.Include("gettingStarted.css");
    Style.Include("jquery.json-view.min.css");
    Style.Include("fabric.min.css");

    Script.Require("jQuery").AtHead();
    Script.Include("/Themes/DevOffice/Bootstrap/js/bootstrap.min.js").AtHead();
    Script.Include("Utils.js").AtHead();
    Script.Include("navBar.js").AtHead();
    Script.Include("userPlatformManager.js").AtHead();
    Script.Include("modernizr-2.6.2.js").AtHead(); //TBD: Do we need this?
    Script.Include("respond.js").AtHead(); //TBD: Do we need this?
    Script.Include("respond.min.js").AtHead(); //TBD: Do we need this?
    Script.Include("gettingStarted.js").AtHead();

    Script.Include("registerApp.js").AtFoot();
    Script.Include("jszip.js").AtFoot();
    Script.Include("jszip-utils.js").AtFoot();
    Script.Include("FileSaver.js").AtFoot();
    Script.Include("embeddedCodeSample.js").AtFoot();
    Script.Include("jquery.json-view.min.js").AtFoot();
    Script.Include("tryitout.js").AtFoot();
    Script.Include("websiteContent.js").AtFoot();
}
<title>Getting started with Office 365 REST APIs</title>

<meta http-equiv="Pragma" name="description" content="Get started with Office 365 REST APIs.">

<style>
    <!--
    .banner-image {
        height: 0;
        visibility: hidden;
    }
    -->
</style>


<script>
    @using(Script.Head()) {
        <script type="text/javascript">
        //<![CDATA[
            var antiForgeryToken = '@Html.AntiForgeryTokenValueOrchard()';
        //]]>
        </script>
    }
    var cardTracker = new CardTracker("o365-progressTrackerContainer", "myNavBar");
    //var platformName = null;
    var platformId = null;
    $(document).scroll(function () {
        cardTracker.updateScroll();
    });
    var userDontWantToSign = false;
    $(document).ready(function () {
        // initialize progress tracker
        cardTracker.init(1.0);


        function elementIDs() { };
        elementIDs.services = "serviceOptions";
        elementIDs.urlValue = "urlValue";
        elementIDs.invokeurlBtn = "invokeurlBtn";
        elementIDs.responseBody = "responseBody";
        elementIDs.parameterDetails = "parameterDetails";
        elementIDs.responseBodyContainer = "parameterDetails";
        elementIDs.sandBoxOptions = "sandBoxOptions";

        function elementClasses() { };
        elementClasses.CodeContainer = "code-container";

        TryItOut(elementIDs, elementClasses);

        //attach to platform filters
        //TBD: temp code
        $("#pickPlatform ul li a").click(function () {
            cardTracker.showCard("setup");
            selectPlatform(this);
        });
        $('#startCoding ul li a').click(function () { startCodingContentDisplay(this) });
        $('#post-download-instructions').hide();

        var tryitOutCardId = "try-it-out";
        $('#loginLink').click(function () {
            document.cookie = "current-card=" + tryitOutCardId + "; path=/";
        });

        $('#loginLink-tocontinue').click(function () {
            document.cookie = "current-card=" + window.location.href + "; path=/";
        });
        $('#app-reg-signin-later').click(function () {
            cardTracker.removeAllBlockingCards();
            ga('send', 'event', 'O365path-Rest', 'Signin-Later');
        });
    });


</script>
<div id="main" class="container-fluid">
    <div id="myNavBar"></div>
    <div id="o365-progressTrackerContainer">
        @Html.Partial("./O365/_Intro")
        @Html.Partial("./O365/_tryitout")
        @Html.Partial("./O365/_Setup")
        @Html.Partial("./O365/_SetupPlatform")
        @{
            Devoffice.GettingStarted.Models.RegisterAppModel model = new Devoffice.GettingStarted.Models.RegisterAppModel();

            if (Session[Devoffice.GettingStarted.Utils.Constants.userLoggedInStr] != null && (bool)Session[Devoffice.GettingStarted.Utils.Constants.userLoggedInStr] == true)
            {
                string userEmail = (string)Session[Devoffice.GettingStarted.Utils.Constants.azureUserEmailTagStr];
                if (!string.IsNullOrEmpty(userEmail))
                {
                    string[] splits = userEmail.Split('@');
                    if (splits.Length == 2)
                    {
                        model.appIdUri = "http://" + splits[1] + "/" + splits[0] + "/";
                    }
                }
            }
        }
        @Html.Partial("./O365/_RegisterApp", model)
        @Html.Partial("./O365/_SetupProject")
        @Html.Partial("./O365/_NextStep")
        <div class="sticky-bubble affix" hidden>
            <a href="#" role="button"><font color="white">Give Feedback</font></a>
        </div>
    </div>
</div>
<div class="spacer40"></div>
