<div id="main" style="background-color:#f4f4f4;" class="container-fluid">
    <div id="myNavBar"></div>
    <div id="o365-progressTrackerContainer">
        @Html.Partial("_Intro")
        @Html.Partial("_tryitout")
        @Html.Partial("_Setup")
        @Html.Partial("_SetupPlatform")
        @{
            Devoffice.GettingStarted.Models.RegisterAppModel model = new Devoffice.GettingStarted.Models.RegisterAppModel();

            if (Session[Devoffice.GettingStarted.Utils.Constants.userLoggedInStr] != null && (bool)Session[Devoffice.GettingStarted.Utils.Constants.userLoggedInStr] == true)
            {
                string userEmail = (string)Session[Devoffice.GettingStarted.Utils.Constants.azureUserEmailTagStr];
                if (!string.IsNullOrEmpty(userEmail))
                {
                    string[] splits = userEmail.Split('@');
                    if (splits.Length == 2)
                    {
                        model.appIdUri = "http://" + splits[1] + "/" + splits[0] + "/Hello-O365";
                    }
                }
            }
        }
        @Html.Partial("_RegisterApp", model)
        @Html.Partial("_SetupProject")
        @Html.Partial("_NextStep")
        <div class="sticky-bubble affix" hidden>
            <a href="#" role="button"><font color="white">Give Feedback</font></a>
        </div>
    </div>
</div>