@{
    string signinError = null;

    //default to null in case query string changed in the session
    Session[Devoffice.GettingStarted.Utils.Constants.productNameTagStr] = null;
    Session[Devoffice.GettingStarted.Utils.Constants.platformNameTagStr] = null;

    if (string.IsNullOrEmpty(HttpContext.Current.Request.Url.Query) == false)
    {
        // Parse the query string variables into a NameValueCollection.
        System.Collections.Specialized.NameValueCollection qscoll = HttpUtility.ParseQueryString(HttpContext.Current.Request.Url.Query);
        if (qscoll.Count > 0)
        {
            ViewBag.SigninError = qscoll["error_msg"];
            string platform = qscoll["platform"];
            if (Devoffice.GettingStarted.Utils.InputValidation.isValidPlatform(platform))
            {
                Session[Devoffice.GettingStarted.Utils.Constants.platformNameTagStr] = platform;
            }
            else
            {
                Session[Devoffice.GettingStarted.Utils.Constants.platformNameTagStr] = null;
            }
            
            string product = qscoll["product"];
            if (Devoffice.GettingStarted.Utils.InputValidation.isValidProduct(product))
            {
                Session[Devoffice.GettingStarted.Utils.Constants.productNameTagStr] = product;
            }
            else
            {
                Session[Devoffice.GettingStarted.Utils.Constants.productNameTagStr] = null;
            }
        }
    }
}
@{
    SetMeta(httpEquiv: "X-UA-Compatible", content: "IE=edge,chrome=1");

    Style.Include("/Themes/DevOffice/Bootstrap/css/bootstrap.min.css");
    Style.Include("/Themes/DevOffice/Bootstrap/css/bootstrap-theme.min.css");
    Style.Include("gettingStarted.css", "gettingStarted.min.css");
    Style.Include("jquery.json-view.min.css");
    Style.Include("fabric.min.css");
    Style.Include("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
    Script.Require("jQuery").AtHead();
    Script.Include("/Themes/DevOffice/Bootstrap/js/bootstrap.min.js").AtHead();
    Script.Include("Utils.js", "Utils.min.js").AtHead();
    Script.Include("navBar.js", "navBar.min.js").AtHead();
    Script.Include("userPlatformManager.js", "userPlatformManager.min.js").AtHead();
    Script.Include("gettingStarted.js", "gettingStarted.min.js").AtHead();

    Script.Include("registerApp.js", "registerApp.min.js").AtHead();
    Script.Include("jszip.js", "jszip.min.js").AtFoot();
    Script.Include("jszip-utils.js", "jszip-utils.min.js").AtFoot();
    Script.Include("FileSaver.js", "FileSaver.min.js").AtFoot();
    Script.Include("embeddedCodeSample.js", "embeddedCodeSample.min.js").AtFoot();
    Script.Include("jquery.json-view.min.js").AtFoot();
    Script.Include("tryitout.js", "tryitout.min.js").AtFoot();
    Script.Include("websiteContent.js", "websiteContent.min.js").AtFoot();
    Script.Include("ratingsDevX/rating.js", "ratingsDevX/rating.min.js").AtHead();
}

<title>Getting started with Office 365 REST APIs</title>

<meta http-equiv="Pragma" name="description" content="Get started with Office 365 REST APIs.">

<style>
    <!--
    .banner-image {
        height: 0;
        visibility: hidden;
    }
    -->
</style>


<script>
    @using (Script.Head()) {
        <script type="text/javascript">
        //<![CDATA[
            var antiForgeryToken = '@Html.AntiForgeryTokenValueOrchard()';
        //]]>
        </script>
    }
    var cardTracker = new CardTracker("o365-progressTrackerContainer", "myNavBar");
    var currentProduct = "@Session[Devoffice.GettingStarted.Utils.Constants.productNameTagStr]";  //product name passed in on querystring
    //var platformName = null;
    var platformId = null;
    $(document).scroll(function () {
        cardTracker.updateScroll();
        feedback.updateProgress(cardTracker.lastVisibleCard());
    });
    var userDontWantToSign = false;
    $(document).ready(function () {
        // initialize progress tracker
        cardTracker.init(1.0);

        function elementIDs() { };
        elementIDs.services = "serviceOptions";
        elementIDs.urlValue = "urlValue";
        elementIDs.invokeurlBtn = "invokeurlBtn";
        elementIDs.responseBody = "responseBody";
        elementIDs.parameterDetails = "parameterDetails";
        elementIDs.responseBodyContainer = "parameterDetails";
        elementIDs.sandBoxOptions = "sandBoxOptions";

        function elementClasses() { };
        elementClasses.CodeContainer = "code-container";

        TryItOut(elementIDs, elementClasses, currentProduct);

        //see if we are opening a specific card
        var urlTarget = document.location.hash;
        if (urlTarget != "") {
            cardTracker.showCard(urlTarget);
        }

        //attach to platform filters
        //TBD: temp code
        $("#pickPlatform ul li a").click(function () {
            cardTracker.showCard("setup");
            selectPlatform(this, currentProduct);
        });
        $('#startCoding ul li a').click(function () { startCodingContentDisplay(this) });
        $('#post-download-instructions').hide();

        var tryitOutCardId = "try-it-out";
        $('#loginLink').click(function () {
            document.cookie = "current-card=" + tryitOutCardId + "; path=/";
            document.cookie = "current-product=" + currentProduct + "; path=/";
        });

        $('#loginLink-tocontinue').click(function () {
            document.cookie = "current-card=" + window.location.href + "; path=/";
        });
        $('#app-reg-signin-later').click(function () {
            cardTracker.removeAllBlockingCards();
            ga('send', 'event', 'O365path-Rest', 'Signin-Later');
        });

        $("signOnUrlHelp").click( function() {
            alert("help");
        });        
    });

    //Initialize feedback control
    var feedback = new ratingDevX("layout-footer", "@Url.Content("~/Modules/Devoffice.GettingStarted/Scripts/ratingsDevX")");
</script>
<div id="main" class="container-fluid">
    <div id="myNavBar"></div>
    <div id="o365-progressTrackerContainer">
        @Html.Partial("./O365/_Intro")
        @Html.Partial("./O365/_tryitout")
        @Html.Partial("./O365/_Setup")
        @Html.Partial("./O365/_SetupPlatform")
        @{
            Devoffice.GettingStarted.Models.RegisterAppModel model = new Devoffice.GettingStarted.Models.RegisterAppModel();

            if (Session[Devoffice.GettingStarted.Utils.Constants.userLoggedInStr] != null && (bool)Session[Devoffice.GettingStarted.Utils.Constants.userLoggedInStr] == true)
            {
                string userEmail = (string)Session[Devoffice.GettingStarted.Utils.Constants.azureUserEmailTagStr];
                if (!string.IsNullOrEmpty(userEmail))
                {
                    string[] splits = userEmail.Split('@');
                    if (splits.Length == 2)
                    {
                        model.appIdUri = "http://" + splits[1] + "/" + splits[0] + "/";
                    }
                }
            }
        }
        @Html.Partial("./O365/_RegisterApp", model)
        @Html.Partial("./O365/_SetupProject")
        @Html.Partial("./O365/_NextStep")
        <div class="sticky-bubble affix" hidden>
            <a href="#" role="button"><font color="white">Give Feedback</font></a>
        </div>
    </div>
</div>
<div class="spacer40"></div>
