
@using Orchard.Utility.Extensions;
@{
    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
}

<article class="content-item @contentTypeClassName">
    <div class="icon-blog-green pull-left"></div>
    <div class="pull-left blog-tile-content">
        <header>
            <div class="">
                @Display(Model.Header)
                @if (Model.Meta != null)
                {
                    <div class="metadata">
                        @Display(Model.Meta)
                    </div>
                }
            </div>
        </header>
        @Display(Model.Content)

        @if (Model.Footer != null)
        {
            <footer>
                @Display(Model.Footer)
            </footer>
        }
    </div>
</article>