@using Orchard.Utility.Extensions;
@{
    if (Model.Title != null)
    {
        Layout.Title = Model.Title;
    }

    Model.Classes.Add("content-item");

    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
    Model.Classes.Add(contentTypeClassName);

    var solution = Model.ContentItem;

    var image = "";
    if (solution.SolutionPart.Icon.Ids.Length > 0)
    {
        image = solution.SolutionPart.Icon.MediaParts[0].MediaUrl;
    }

    string[] detailLink = { solution.TitlePart.Title.Replace(" ", ""), "DetailLink" };
    var detailLinkId = string.Join("-", detailLink);

    var request = HttpContext.Current.Request;
    var baseUrl = request.Url.Host;
    var external = "_self";
    var url = "";
}

<li class="col-md-6 col-sm-6 collapse event-box-details hide" role="listitem" aria-label="@solution.TitlePart.Title">
    <div class="code-event">
        <div class="event-info">
            @{
                url = solution.SolutionPart.ExternalLink.Value;
                if (!string.IsNullOrEmpty(url)) {
                     if (!url.Contains(baseUrl) && !url.StartsWith("/")) {
                         external = "_blank";
                     }
                 }
            }
            <div class="code-title">
                <div class="event-icon col-xs-4">
                    <img src="@image" alt="@solution.TitlePart.Title Icon" class="img-responsive" />
                </div>
                <div class="col-xs-8 name cp1">@solution.TitlePart.Title</div>
                <div class="col-xs-8 event-links">
                    <a data-bind="attr: { href: Url }" href="@solution.SolutionPart.ExternalLink.Value" target="@external" role="link" id="@detailLinkId" class="pull-right ff-semibold">VIEW<img class="see-more-icon podcast-see-more-icon" src="/Themes/DevOffice/Content/Images/seeMoreIcon.png" role="img" alt="see more arrow"> </a>
                </div>
            </div>
        </div>
        <div class="register-now">
            <div data-pane="@detailLinkId" class="desc">@Html.Raw(solution.SolutionPart.Content.Value)</div>
        </div>

    </div>
</li>