@using Orchard.Utility.Extensions;
@{
    if (Model.Title != null)
    {
        Layout.Title = Model.Title;
    }

    Model.Classes.Add("content-item");

    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
    Model.Classes.Add(contentTypeClassName);


    var trainingItem = Model.ContentItem;

    var image = "";
    if (trainingItem.TrainingPart.Image.Ids.Length > 0)
    {
        image = trainingItem.TrainingPart.Image.MediaParts[0].MediaUrl;
    }

    string[] detailLink = { trainingItem.TitlePart.Title.Replace(" ", ""), "DetailLink" };
    var detailLinkId = string.Join("-", detailLink);

    var request = HttpContext.Current.Request;
    var baseUrl = request.Url.Host;
    var external = "_self";
    var url = "";
}


<li class="col-md-6 col-sm-6 collapse event-box-details hide" role="listitem" aria-label="@trainingItem.TitlePart.Title">
    <div class="code-event">
        <div class="event-info">
            @{
                url = trainingItem.TrainingPart.ExternalLink.Value;
                if (!string.IsNullOrEmpty(url)) {
                    if (!url.Contains(baseUrl) && !url.StartsWith("/")) {
                        external = "_blank";
                    }
                }
            }
            <div class="code-title">
                <div class="event-icon col-xs-4">
                    <img src="@image" alt="@trainingItem.TitlePart.Title Icon" class="img-responsive" />
                </div>
                <div class="col-xs-8 name cp1">@trainingItem.TitlePart.Title</div>
                <div class="col-xs-8 event-links">
                    <a data-bind="attr: { href: Url }" href="@trainingItem.TrainingPart.ExternalLink.Value" target="@external" role="link" id="@detailLinkId" class="pull-right ff-semibold">LEARN<img class="see-more-icon podcast-see-more-icon" src="/Themes/DevOffice/Content/Images/seeMoreIcon.png" role="img" alt="see more arrow"> </a>

                </div>
            </div>
        </div>
        <div class="register-now">
            <div data-pane="@detailLinkId" class="desc">@Html.Raw(trainingItem.TrainingPart.SubText.Value)</div>
        </div>
    </div>
</li>
