@using Orchard.Mvc.Html;
@using Orchard.UI.Resources;

@{
    RegisterLink(new LinkEntry { Type = "image/x-icon", Rel = "shortcut icon", Href = Url.Content("~/Themes/DevOffice/Content/favicon.ico") });
    Script.Include("html5.js").UseCondition("lt IE 9").AtHead();
    Script.Include("redirectSearch.min.js").AtHead();

    string title = Convert.ToString(Model.Title);
    string siteName = Convert.ToString(WorkContext.CurrentSite.SiteName);
}

<!DOCTYPE html>
<html lang="@WorkContext.CurrentCulture" class="static @Html.ClassForPage()">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="application-name" content="Microsoft Content Hub">
    <meta name="viewport" content="width=device-width, user-scalable=1, target-densitydpi=device-dpi">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta http-equiv="content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="PRAGMA" content="NO-CACHE">
    <meta http-equiv="Cache-control" content="no-cache">
    <title>@Html.Title(title, siteName)</title>
    <script type="text/javascript">
        (function () {
            if ("-ms-user-select" in document.documentElement.style && navigator.userAgent.match(/IEMobile\/10\.0/)) {
                var msViewportStyle = document.createElement("style");
                msViewportStyle.appendChild(
                    document.createTextNode("@@-ms-viewport{width:auto!important}")
                );
                document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
            }
        })();
    </script>
    <script src="//cdn.optimizely.com/js/2209430092.js"></script>
    @Display(Model.Head)
</head>

<body>
    @* Layout is in the Body *@
    @Display(Model.Body)
    @Display(Model.Tail)
   
    @*PROD AddThis*@
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53e944d61ebade5f" async="async"></script>
    
    @*TEST AddThis*@
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    @*<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53e3cb3f0e219bbc" async="async"></script>*@
    

    @* Tracking code Begins *@
    <script type="text/JavaScript">
            var varSegmentation = 0;
            var varClickTracking = 1;
            var varCustomerTracking = 1;
            var varAutoFirePV = 1;
            var Route = "50000";
            var Ctrl = "SD300";
            document.write("<script type='text/javascript' src='" + (window.location.protocol) + "//c.microsoft.com/ms.js'" + "'><\/script>");
        </script>
        <noscript><img alt="" width="1" height="1" src="http://c.microsoft.com/trans_pixel.aspx"/></noscript>
    @* Tracking code Ends *@

    @* Google Analytics Code *@
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        if (window.location.host.indexOf('localhost') != -1 || window.location.host.indexOf('azurewebsites') != -1) {
            ga('create', 'UA-65962112-1', 'auto'); //staging and Dev GA
        } else {
            ga('create', 'UA-54271502-1', 'auto'); //prod GA
        }
        ga('require', 'displayfeatures');
        ga('require', 'linkid', 'linkid.js');
        ga('send', 'pageview');

        /* TBD: we need to enable this code for telemetry of client id
        //appInsights telemetry
        var appInsightInstrumentationKey = "24ad1491-74e5-46fb-9afc-d047c649850d" //prod Key, TODO replace it with devOfficeComOrchard account
        if (window.location.host.indexOf('localhost') != -1 || window.location.host.indexOf('azurewebsites') != -1) {
            appInsightInstrumentationKey: "76981fce-2462-44ca-b2a5-4186f0607408" //replaced with staging and dev key.
        }
        var appInsights = window.appInsights || function (config) {
            function s(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, r = document, f = window, e = "script", o = r.createElement(e), i, u; for (o.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", r.getElementsByTagName(e)[0].parentNode.appendChild(o), t.cookie = r.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace"]; i.length;) s("track" + i.pop()); return config.disableExceptionTracking || (i = "onerror", s("_" + i), u = f[i], f[i] = function (config, r, f, e, o) { var s = u && u(config, r, f, e, o); return s !== !0 && t["_" + i](config, r, f, e, o), s }), t
        }({
            InstrumentationKey: "24ad1491-74e5-46fb-9afc-d047c649850d"
        });
        window.appInsights = appInsights;
        appInsights.trackPageView();
        */
    </script>
</body>
</html>