@using System.Web.UI.WebControls
@using DevOffice.Common.Models
@using DevOffice.Common.ViewModels;

@{

    var request = HttpContext.Current.Request;
    var baseUrl = request.Url.Host;
    BlogPost blogpost = Model.ViewModel;
  

}
<style>
    .bg-white {
    background-color:#ffffff;
    }
    .blog-body {
        margin-bottom:30px;
        padding:30px 15px;
    }
    .blog-title {
   	    font-size: 30px;
	    line-height: 35px;
    }
</style>

<div class=" container-fluid">
    <div class="row single-blog">
        @if (@blogpost == null) {
            <div class="blog-container">
                <h3>Blog id supplied is not valid.</h3>
                <a href="/blogs">Back to all blog posts</a>
            </div>
        }
        else {
            <div class="blog-container">

                <div class="blog-img">
                    @if (!string.IsNullOrEmpty(@blogpost.Image))
                    {
                        <img src="@blogpost.Image" alt="@blogpost.Title" class="img-responsive" />
                    }
                    else
                    {
                        <img src="/Themes/DevOffice/Content/Images/blogs_missingpic_140x140.png" alt="@blogpost.Title Icon" class="img-responsive" />
                    }
                </div>

                <div class="blog-info pull-right">
                    <div class="col-md-12 blog-title pk-ellipsis pk-ellipsis-rendered single-blog-title" data-lines="2">@blogpost.Title</div>

                    <div class="blog-right-side height40 col-md-12">
                        <div class="blog-by ff-semilight pk-ellipsis pk-ellipsis-rendered" data-lines="1">by @blogpost.Author</div>


                    </div>

                    <div class="blog-date ff-semibold"> @blogpost.DatePublished.ToString("MMM dd, yyyy")</div>



                </div>
            </div>
            <div class="blog-body bg-white" id="body-content">@Html.Raw(@blogpost.PostBody)</div>
        }
    </div>
    
</div>
