<div class="row banner-image">

<img src="@Model.ViewModel.BannerImage">

</div>

<div class='container-fluid' id='devCenter-partner-req'>
    <div class='row page-title'>
        <div class='col-lg-12 col-md-12'>
            <h1>@Model.ViewModel.Title</h1>
        </div>
    </div>
    <div class='row page-body'>
    
        <div class='col-lg-8 col-md-8'>
            <h2 class='page-subtitle'>
                @Model.ViewModel.Subtitle
            </h2>
            <div class='page-body-text'>
                @Html.Raw(@Model.ViewModel.Body)
            </div>
        </div>
    
        <div class='col-lg-4 col-md-4 page-image-column'>
            <img src="@Model.ViewModel.Image">
        </div>

    </div>
    
    @if (!(Model.ViewModel.ExternalLink ==null ||Model.ViewModel.LinkText==null)){
    <div class='row link-box'>
        <a href="@Model.ViewModel.ExternalLink">
            <div class='col-lg-12 col-md-12'>
                <span>
                    @Model.ViewModel.LinkText
                </span>
                <i class="icon_seemore"></i>    
            </div>
        </a>
    </div>}
</div>